body {
    margin: 0;
    font-family: 'Times New Roman';
    background-color: #f2d3c2;
}


.container {
    width: 380px;
    margin: 80px auto;
    background-color: #4c3e75;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    color: #f5f5f5;
}

.form {
    text-align: left;
}

.label {
    display: block;
    margin-top: 12px;
    color: #f5f5f5;
    font-size: 14px;
}

.input {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
}

div {
    margin-top: 15px;     
    margin-bottom: 20px;  
    font-size: 15px;
}

label {
    color: white;
}

a {        
    color: #7b6cff;
    text-decoration: none;
}

.btn {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #d98f62;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

.text {
    margin-top: 15px;
    color: #f5f5f5;
    font-size: 14px;
}

.link {
    color: #7b6cff;
    text-decoration: none;
}